<div class="work-exp grid grid-cols-1 sm:grid-cols-2 2xl:w-[50%]">
  <p class="block text-gray-700 text-sm font-bold mb-2">Institution Name</p>
  <p class="work-exp-organization block text-gray-700 text-sm mb-2">{{ education_exp.school_name }}</p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Location</p>
  <p class="work-exp-location block text-gray-700 text-sm mb-2">{{ education_exp.location }}</p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Degree</p>
  <p class="work-exp-position block text-gray-700 text-sm mb-2">{{ education_exp.degree }}</p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Years Attended</p>
  <p class="work-exp-date block text-gray-700 text-sm mb-2">
    {{ education_exp.start_year }} - {{ education_exp.end_year }}
  </p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Grade</p>
  <p class="work-exp-position block text-gray-700 text-sm mb-2">{{ education_exp.grade }}</p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Modules Covered</p>
  <ul class="work-rsp-list pl-6 mb-3">
    {% with "education-exp-module" as list_class %}
    {% for item_name in education_exp.bullet_points.all %}
    {% include 'components/list-item.html' %}
    {% endfor %}
    {% endwith %}
  </ul>
  <p class="block text-gray-700 text-sm font-bold mb-2">Applied Skills</p>
  <ul class="work-skill-list pl-6">
    {% with "education-exp-skill" as list_class %}
    {% for item_name in education_exp.applied_skills.all %}
    {% include 'components/list-item.html' %}
    {% endfor %}
    {% endwith %}
  </ul>
</div>
<hr class="mb-8 2xl:w-[50%]">