<div class="project-exp grid grid-cols-1 sm:grid-cols-2 2xl:w-[50%]">
  <p class="block text-gray-700 text-sm font-bold mb-2">Project Name</p>
  <p class="project-exp-name block text-gray-700 text-sm mb-2">{{ project_exp.name }}</p>

  <p class="block text-gray-700 text-sm font-bold mb-2">Repository URL</p>
  <p class="project-exp-repo block text-gray-700 text-sm mb-2">{{ project_exp.repository_url }}</p>

  <p class="block text-gray-700 text-sm font-bold mb-2">Deployed URL</p>
  <p class="project-exp-deploy block text-gray-700 text-sm mb-2">{{ project_exp.deployed_url }}</p>
</div>
<hr class="my-4 2xl:w-[50%]">