{% load static %}
{% load crispy_forms_tags %}

<div id="projects">
  <h1 class="block text-violet-700 text-2xl font-bold mb-2">Projects</h1>
  <div id="projects-list" data-accordion="collapse" class="my-4">
    {% for project_exp in project_list %}
    {% with project_exp.description as has_description %}
    {% with project_exp.repository_url as has_repo_url %}
    {% with project_exp.deployed_url as has_deployed_url %}
    {% with project_exp.id as item_id %}
    {% include 'components/project-details.html' %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </div>
  {% if project_list %}
  <h2 class="block text-violet-700 text-l font-bold mb-3">+ Add Project</h2>
  {% else %}
  <p class="block text-gray-700 text-sm mb-4">Please enter any projects you have worked on</p>
  {% endif %}
  <div id="project-input-data" class="hidden"></div>
  <form hx-post="{% url 'add_project' %}" hx-target="#project-input-data" id="project-form"
    hx-on::after-request="this.reset()" onreset="addExperienceHtml('project')">
    {% csrf_token %}
    <div class="lg:w-[50%]">
      {{ project_form.name|as_crispy_field }}
      {{ project_form.description|as_crispy_field }}

      <div class="grid gap-5 grid-cols-2 2xl:grid-cols-3">
        {{ project_form.start_date|as_crispy_field }}
        {{ project_form.end_date|as_crispy_field }}
      </div>
      <div class="flex mb-6">
        <div class="flex items-center h-5">
          <input id="id_current_project" type="checkbox" data-disables="project_end_date"
            class="is-active-check w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-lime-300" />
        </div>
        <label for="id_current_project" class="ms-2 text-sm font-medium text-gray-900">I am currently
          working on this project</label>
      </div>

      {{ project_form.repository_url|as_crispy_field }}
      {{ project_form.deployed_url|as_crispy_field }}
    </div>
    <button type="submit" class="text-black rounded-lg bg-lime-500 py-2 px-3 border border-lime-600">Add
      Project</button>
  </form>
</div>