{% load static %}

<div id="skills">
  <h1 class="block text-violet-700 text-2xl font-bold mb-2">Skills</h1>
  <p class="block text-gray-700 text-sm">Please enter your professional skills</p>
  <p class="block text-gray-700 text-sm mb-4">A minimum of 8 skills is recommended</p>
  <label for="new-skill-text" class="block text-gray-700 text-sm font-bold mb-2">Skills</label>
  <form method="post" id="skill-list-form">
    {% csrf_token %}
    <ul id="skill-list" class="lg:w-[50%] pl-6 mb-3">
      {% for skill in user.user_skills.all %}
      <li id="skill-{{ skill.id }}" class="skill-item list-disc">
        <span class="flex justify-between">
          <span>{{ skill.display_name }}</span>
          <button type="button" class="delete-skill" data-skill="{{ skill.id }}"><span
              class="text-2xl">&times;</span></button>
        </span>
      </li>
      {% endfor %}
    </ul>
  </form>
  <!-- The inline form to add the skills -->
  <form hx-post="/profile/add-bullet-item/skill/" hx-target="#skill-data" hx-on::after-request="processRequest('skill')" id="skill-form" class="lg:w-[50%]">
    {% csrf_token %}
    <div id="skill-data" class="hidden" aria-hidden="true"></div>
    <div class="flex">
      <div class="relative w-full">
        <input type="text" id="new-skill-text" name="val"
          class="add-item-input block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-l-lg rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-lime-300 focus:border-lime-500"
          placeholder="Skill" maxlength="30" required />
        <button type="submit" id="submit-skill"
          class="absolute top-0 end-0 px-5 py-2.5 h-full text-sm font-medium text-black bg-lime-500 rounded-e-lg border border-lime-600 hover:not(disabled):bg-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-300">
          Add</button>
      </div>
    </div>
  </form>
</div>