<div id="skills">
  <h1 class="block text-violet-700 text-2xl font-bold mb-2">Skills</h1>
  <p class="block text-gray-700 text-sm">Please enter your professional skills</p>
  <p class="block text-gray-700 text-sm mb-4">A minimum of 8 skills is recommended</p>
  <label for="new-skill-text" class="block text-gray-700 text-sm font-bold mb-2">Skills</label>
  <div id="skill-list" class="w-[50%]">
    <!-- The inline form to add the skills -->
    <form>
      <div class="flex">
        <div class="relative w-full">
          <input type="text" id="new-skill-text"
            class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-l-lg rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-lime-300 focus:border-lime-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-lime-500"
            placeholder="Skill" required />
          <button type="submit"
            class="absolute top-0 end-0 px-5 py-2.5 h-full text-sm font-medium text-black bg-lime-500 rounded-e-lg border border-lime-600 hover:bg-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-300 dark:bg-lime-600 dark:text-white dark:hover:bg-lime-700 dark:focus:ring-lime-800">
            Add</button>
        </div>
      </div>
    </form>
  </div>
</div>