{% load static %}
{% load crispy_forms_tags %}

<div id="work-experience">
  <h1 class="block text-violet-700 text-2xl font-bold mb-2">Work Experience</h1>
  <div id="work-list" data-accordion="collapse" class="my-4">
    {% for work_exp in work_experience_list %}
    {% with work_exp.bullet_points.all as generate_bullet_points %}
    {% with work_exp.applied_skills.all as generate_skills %}
    {% with work_exp.id as item_id %}
    {% with work_exp.location as has_location %}
    {% include 'components/work-experience-details.html' %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </div>
  {% if work_experience_list %}
  <h2 class="block text-violet-700 text-l font-bold mb-3">+ Add Work Experience</h2>
  {% else %}
  <p class="block text-gray-700 text-sm mb-4">Please enter your work experience</p>
  {% endif %}
  <div id="work-input-data" class="hidden"></div>
  <form hx-post="{% url 'add_work_experience' %}" hx-target="#work-input-data" id="work-experience-form"
    hx-on::after-request="this.reset()" onreset="addExperienceHtml('work')">
    {% csrf_token %}
    <div class="lg:w-[50%]">
      {{ work_experience_form.organization|as_crispy_field }}
      {{ work_experience_form.location|as_crispy_field }}
      {{ work_experience_form.position|as_crispy_field }}
    </div>
    <p class="block text-gray-700 text-sm font-bold mb-2">Dates Worked<span class="asteriskField">*</span></p>
    <div class="grid gap-5 grid-cols-2 2xl:grid-cols-3 lg:w-[50%]">
      {{ work_experience_form.start_date|as_crispy_field }}
      {{ work_experience_form.end_date|as_crispy_field }}
    </div>
    <div class="flex mb-6">
      <div class="flex items-center h-5">
        <input id="id_current_work" type="checkbox" data-disables="work_end_date"
          class="is-active-check w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-lime-300" />
      </div>
      <label for="id_current_work" class="ms-2 text-sm font-medium text-gray-900">I am currently working here</label>
    </div>
    <div class="hidden bullet-point-inputs" aria-hidden="true" id="work-responsibilities" name="bullet_points"
      data-item-id="0"></div>
    <div class="hidden bullet-point-inputs" aria-hidden="true" id="work-skills" name="skills" data-item-id="0"></div>
  </form>
  <div class="lg:w-[50%]">
    <!-- Work responsibilities -->
    <form data-main-input="work-responsibilities" id="responsibility-form" class="add-item-form mb-6">
      {% csrf_token %}
      <label for="new-responsibility-text"
        class="block text-gray-700 text-sm font-bold mb-2">Duties/Responsibilities:</label>

      <ul id="responsibility-list" class="item-list pl-6 mb-3"></ul>

      <div class="add-item-container relative w-full">
        <input type="text" id="new-responsibility-text" name="responsibility"
          class="add-item-input autocomplete work bullet block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-l-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-lime-300 focus:border-lime-500"
          placeholder="Duty/Responsibility" maxlength="150" autocomplete="off" required />
        <button type="submit" id="submit-responsibility"
          class="add-item-submit px-5 py-2.5 h-full text-sm font-medium text-black bg-lime-500 rounded-e-lg border border-lime-600 hover:not(disabled):bg-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-300">
          Add</button>
      </div>
    </form>
    <!-- Work skills -->
    <form data-main-input="work-skills" id="bullet-point-form" class="add-item-form mb-6">
      {% csrf_token %}
      <label for="work-skill-text" class="block text-gray-700 text-sm font-bold mb-2">Applied Skills:</label>
      <ul id="work-skill-list" class="item-list pl-6 mb-3"></ul>

      <div class="add-item-container relative w-full">
        <input type="text" id="work-skill-text" name="work-skill"
          class="add-item-input autocomplete skill block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-l-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-lime-300 focus:border-lime-500"
          placeholder="Skill" maxlength="30" autocomplete="off" required />
        <button type="submit" id="submit-work-skill"
          class="add-item-submit px-5 py-2.5 h-full text-sm font-medium text-black bg-lime-500 rounded-e-lg border border-lime-600 hover:not(disabled):bg-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-300">
          Add</button>
      </div>
    </form>
  </div>
  <button type="submit" form="work-experience-form"
    class="text-black rounded-lg bg-lime-500 py-2 px-3 border border-lime-600">Add Work Experience</button>

  <!-- Autocomplete bullet points -->
  <div id="autocomplete-list-bullet-work" class="hidden" aria-hidden="true">
    {% for bullet in user.work_bullets.all %}
    <div>{{ bullet.bullet_point }}</div>
    {% endfor %}
  </div>
</div>