<div class="work-exp grid grid-cols-1 sm:grid-cols-2 2xl:w-[50%]">
  <p class="block text-gray-700 text-sm font-bold mb-2">Company Name</p>
  <p class="work-exp-organization block text-gray-700 text-sm mb-2">{{ work_exp.organization }}</p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Location</p>
  <p class="work-exp-location block text-gray-700 text-sm mb-2">{{ work_exp.location }}</p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Job Title</p>
  <p class="work-exp-position block text-gray-700 text-sm mb-2">{{ work_exp.position }}</p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Dates Worked</p>
  <p class="work-exp-date block text-gray-700 text-sm mb-2">
    {{ work_exp.start_date }} - {{ work_exp.end_date }}
  </p>
  <p class="block text-gray-700 text-sm font-bold mb-2">Duties/Responsibilities</p>
  <ul class="work-rsp-list pl-6 mb-3">
    {% with "work-exp-rsp" as list_class %}
    {% for item_name in work_exp.bullet_points.all %}
    {% include 'components/list-item.html' %}
    {% endfor %}
    {% endwith %}
  </ul>
  <p class="block text-gray-700 text-sm font-bold mb-2">Applied Skills</p>
  <ul class="work-skill-list pl-6">
    {% with "work-exp-skill" as list_class %}
    {% for item_name in work_exp.applied_skills.all %}
    {% include 'components/list-item.html' %}
    {% endfor %}
    {% endwith %}
  </ul>
</div>
<hr class="mb-8 2xl:w-[50%]">