{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
{% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

<div class="container mx-auto mt-8">
    <h1 class="text-3xl mb-6">Log In to Your Account</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="mb-6">
            <label for="id_login" class="block mb-1 font-medium text-gray-900">Email Address</label>
            <input type="email" id="id_login" name="login"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lime-500 focus:border-lime-500 block w-[50%] p-2.5"
                placeholder="Email" required />
            {% for error in email_errors %}
            <div class="text-sm text-red-800">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label for="id_password" class="block mb-1 font-medium text-gray-900">Password</label>
            <input type="password" id="id_password" name="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lime-500 focus:border-lime-500 block w-[50%] p-2.5"
                placeholder="Password" required />
            {% for error in password_errors %}
            <div class="text-sm text-red-800">{{ error }}</div>
            {% endfor %}
            <span class="helptext"><a href="{% url 'account_reset_password' %}" class="text-blue-500">Forgot your
                    password?</a></span>
        </div>
        <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
                <input id="id_remember" type="checkbox" name="remember"
                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-lime-300" />
            </div>
            <label for="id_remember" class="ms-2 text-sm font-medium text-gray-900">Remember
                Me</label>
        </div>
        <p>Don't have an account? <a href="{% url 'account_signup' %}" aria-label="Go to the sign up page"
                class="text-blue-500">Sign up here</a>!</p>
        <button type="submit" class="rounded-lg bg-lime-500 py-2 px-3 border border-lime-600">Log In</button>
    </form>
</div>

{% endblock content %}