{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<section class="container mx-auto overflow-y-hidden p-3 pt-5 pb-5 relative max-h-[450px] md:max-h-[750px]">
  <h1 class="text-3xl md:text-7xl w-4/5 md:w-2/5 py-3 md:py-15 mx-auto text-center">Dynamic CVs made <span
      class="original-text">fast</span>
    <em class="text-violet-800 italic replacement-text" data-text="easy"></em>
  </h1>
  <div class="cv-sample-container mt-5 md:mt-10 bg-white p-8 rounded-lg shadow-lg mx-auto md:w-4/5 ">
    <h1 class="text-3xl text-center font-bold mb-2">Jane Smith CV</h1>
    <h2 class="text-lg mb-4 text-center"><span class="original-text">Frontend</span> <em
        class="text-violet-800 replacement-text" data-text="Full-stack"></em> Developer</h2>
    <div class="text-xs text-center mb-4 social-links">
      <span>github.com/janecodes</span> •
      <span>linkedin.com/in/jane-smith</a>
    </div>
    <p class="mb-4">
      <span class="original-text">Frontend</span> <em class="text-violet-800 replacement-text"
        data-text="Full-stack"></em>
      Developer with proven expertise in HTML, CSS, and JavaScript<em class="text-violet-800 replacement-text"
        data-text=", Python, and Django"></em>. Created a website HTML Analyser that increased website accessibility
      reviews by 75%.
      Implemented a comprehensive system of automated testing that helped prevent breaking code from being pushed by
      48%. Mentors colleagues, tackles complex <span class="original-text">frontend</span> <em
        class="text-violet-800 replacement-text" data-text="full-stack"></em> issues, and optimises workflows.
      Balances
      full-time
      work with continuous learning, evidenced by recent <span class="original-text">Frontend</span> <em
        class="text-violet-800 replacement-text" data-text="Full-stack"></em> Development diploma. Leverages 5+ years
      of
      customer
      support and sales experience in the cybersecurity sector. <span class="original-text">3 years experience
        building 15+ responsive and accessible websites.</span> <em class="text-violet-800 replacement-text" data-text="2 years
        experience building 9 full-stack apps."></em>
    </p>
    <h2 class="text-lg font-semibold mb-2">Skills</h2>
    <p class="mb-2">
      <span class="original-text">HTML, CSS, JavaScript, React, TypeScript, Git, Webpack, Jest, Accessibility (WCAG),
        Responsive Design.</span>
    </p>
    <p>
      <em class="text-violet-800 replacement-text"
        data-text="HTML, CSS, JavaScript, React, Git, Django, Python, Node."></em>
    </p>
  </div>
</section>
<section id="the-problem"
  class="relative w-100 text-zinc-50 bg-gradient-to-r from-violet-800 to-violet-500 py-20 md:py-32 homepage-section">
  <div class="absolute top-0 left-0 w-full overflow-hidden" style="transform: rotate(180deg);">
    <svg class="relative block w-full h-16" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill fill-white"></path>
    </svg>
  </div>

  <div class="container mx-auto p-3 content">
    <div class="flex flex-col justify-between md:flex-row md:justify-items-around content">
      <div class="image-container md:w-1/2 md:flex md:content-center md:order-2">
        <img src="{% static 'images/job-hunt-lime.svg' %}" alt="" class="md:mx-auto">
      </div>
      <div class="text-content mt-3 md:w-1/2 md:pr-5 md:order-1">
        <h2 class="text-2xl mb-3">Nobody's got time for that!</h2>
        <p>The job market is tough! A generic CV doesn't cut it anymore. For each job post, you should be tailoring
          your
          CV
          - you should have the correct title, you should include the relevant skills, work experience and education.
          If
          you're going for a role as a Backend Developer, they won't be interested in your fancy CSS skills.</p>
        <br>
        <p>But who has the time to do that? You're probably applying to multiple jobs a day. You need a tool that can
          help
          you
          create a tailored CV in minutes, not hours.</p>
        <br>
        <p>That's where Dynamic CV comes in. Dynamic CV allows you to create a CV that is tailored to the job you're
          applying
          for. You can create multiple CVs and save them for later. You can also download them as a PDF or even a word
          document.</p>
      </div>
    </div>
  </div>
</section>
<section id="how-it-works" class="w-100 py-20 md:py-32 homepage-section">
  <div class="container mx-auto p-3 text-violet-800 content">
    <div class="flex flex-col justify-between md:flex-row content">
      <div class="image-container md:order-1 flex justify-center md:w-2/5">
        {% include 'includes/question-mark.svg' %}
      </div>
      <div class="text-content mt-3 md:w-1/2 md:pr-5 md:order-1">
        <h2 class="text-2xl mb-3">How does it work?</h2>
        <p>
          Here's how Dynamic CV functions: Begin by entering all your
          professional information into the system—such as your work experience,
          education, skills, projects, and any other details that might not
          typically fit on a standard CV. When you're interested in a specific
          job, simply add the position title and run our analysis tool.
        </p>
        <br />
        <p>
          Our intelligent CV analysis tool evaluates the job title on your CV
          against the top skills typically required for that role in the market.
          It provides personalized feedback, highlighting key skills for the
          position, how well your CV aligns with these requirements, and
          checking for any spelling errors. Additionally, it reviews your
          previous job titles to identify relevant experience that might cover
          any skills missing from your CV compared to the top industry
          standards.
        </p>
        <br />
        <p>
          With just a few clicks, you'll have a CV perfectly tailored to the specific job you want. Say goodbye to
          generic,
          one-size-fits-all applications, and showcase exactly why you're the ideal candidate for the role.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="relative bg-gradient-to-r from-violet-800 to-violet-500 py-20 md:py-32">
  <div class="absolute top-0 left-0 w-full overflow-hidden" style="transform: rotate(180deg);">
    <svg class="relative block w-full h-16" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill fill-white"></path>
    </svg>
  </div>

  <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h2 class="mb-4 mt-4 md:mt-0 text-4xl tracking-tight font-extrabold text-white">Our Team</h2>
      <p class="font-light text-zinc-50 md:mb-16 sm:text-xl">Here's the team behind Dynamic CV.</p>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      <div class="items-center bg-zinc-50 rounded-lg shadow sm:flex">
        <img class="w-full md:w-1/2 rounded-lg sm:rounded-none sm:rounded-l-lg" src="{% static 'images/daisy.webp' %}"
          alt="Daisy Avatar">
        <div class="p-5 text-violet-800">
          <h3 class="text-xl font-bold tracking-tight text-violet-900">
            <a href="#">Daisy Mc Girr</a>
          </h3>
          <span>Dee-McG</span>
          <p class="mt-3 mb-4 font-light"></p>
          <ul class="flex align-center space-x-4 sm:mt-0">
            <li>
              <a href="https://www.linkedin.com/in/daisy-mcgirr/" target="_blank" class="text-blue-700 hover:text-lime-700">
                {% include 'includes/linkedin.svg' %}
              </a>
            </li>
            <li>
              <a href="https://github.com/Dee-McG" target="_blank" class="text-black hover:text-lime-700">
                {% include 'includes/github.svg' %}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="items-center md:flex bg-zinc-50 rounded-lg shadow sm:flex">
        <img class="w-full md:w-1/2 rounded-lg sm:rounded-none sm:rounded-l-lg" src="{% static 'images/shane.webp' %}"
          alt="Shane Avatar">
        <div class="p-5 text-violet-800">
          <h3 class="text-xl font-bold tracking-tight text-violet-900">
            <a href="#">Shane Byrne</a>
          </h3>
          <span>ShaneByrne0963</span>
          <p class="mt-3 mb-4 font-light"></p>
          <ul class="flex align-center space-x-4 sm:mt-0">
            <li>
              <a href="https://www.linkedin.com/in/shane-byrne-00b8b3272" target="_blank" class="text-blue-700 hover:text-lime-700">
                {% include 'includes/linkedin.svg' %}
              </a>
            </li>
            <li>
              <a href="https://github.com/ShaneByrne0963" target="_blank" class="text-black hover:text-lime-700">
                {% include 'includes/github.svg' %}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="items-center bg-zinc-50 rounded-lg shadow sm:flex">
        <img class="w-full md:w-1/2 rounded-lg sm:rounded-none sm:rounded-l-lg" src="{% static 'images/stephen.webp' %}"
          alt="Stephen Avatar">
        <div class="p-5 text-violet-800">
          <h3 class="text-xl font-bold tracking-tight text-violet-900">
            <a href="#">Stephen Dawson</a>
          </h3>
          <span>stephendawsondev</span>
          <p class="mt-3 mb-4 font-light"></p>
          <ul class="flex align-center space-x-4 sm:mt-0">
            <li>
              <a href="https://www.linkedin.com/in/sdstephendawson/" target="_blank" class="text-blue-700 hover:text-lime-700">
                {% include 'includes/linkedin.svg' %}
              </a>
            </li>
            <li>
              <a href="https://github.com/stephendawsondev" target="_blank" class="text-black hover:text-lime-700">
                {% include 'includes/github.svg' %}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="items-center bg-zinc-50 rounded-lg shadow sm:flex">
        <img class="w-full md:w-1/2 rounded-lg sm:rounded-none sm:rounded-l-lg" src="{% static 'images/joao.webp' %}"
          alt="Joao Avatar">
        <div class="p-5 text-violet-800">
          <h3 class="text-xl font-bold tracking-tight text-violet-900">
            <a href="#">Joao_P</a>
          </h3>
          <span>jpgenari</span>
          <p class="mt-3 mb-4 font-light"></p>
          <ul class="flex align-center space-x-4 sm:mt-0">
            <li>
              <a href="https://www.linkedin.com/in/jpgenari/" target="_blank" class="text-blue-700 hover:text-lime-700">
                {% include 'includes/linkedin.svg' %}
              </a>
            </li>
            <li>
              <a href="https://github.com/jpgenari" target="_blank" class="text-black hover:text-lime-700">
                {% include 'includes/github.svg' %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}