{% extends 'base.html' %}
{% load static %}

{% block title %}Edit{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/edit_item.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container mx-auto md:mt-3">
  <div class="md:flex">
    <ul class="flex flex-col text-lg font-medium text-violet-800 w-60" id="default-styled-tab"
      data-tabs-toggle="#default-styled-tab-content"
      data-tabs-active-classes="text-black hover:text-purple-600 bg-lime-500" role="tablist">
      <li class="w-full" role="presentation" id="first-tab">
        <a class="w-full py-2 text-violet-800 border-2 border-violet-800 text-center" type="button" role="tab"
          aria-controls="detail" data-tabs-target="#tab-details" href="{% url 'profile' %}?tab=details">Your
          Details</a>
      </li>
      <li class="w-full" role="presentation">
        <a class="w-full py-2 text-violet-800 border-2 border-violet-800 text-center" type="button" role="tab"
          aria-controls="summary" data-tabs-target="#tab-summary" href="{% url 'profile' %}?tab=summary">Summary</a>
      </li>
      <li class="w-full" role="presentation">
        <a class="w-full py-2 text-violet-800 border-2 border-violet-800 text-center" type="button" role="tab"
          aria-controls="skills" data-tabs-target="#tab-skills" href="{% url 'profile' %}?tab=skills">Skills</a>
      </li>
      <li class="w-full" role="presentation">
        <a class="w-full py-2 text-violet-800 border-2 border-violet-800 text-center" type="button" role="tab"
          aria-controls="work-experience" data-tabs-target="#tab-work-experience"
          href="{% url 'profile' %}?tab=work_experience">Work Experience</a>
      </li>
      <li class="w-full" role="presentation">
        <a class="w-full py-2 text-violet-800 border-2 border-violet-800 text-center" type="button" role="tab"
          aria-controls="education" data-tabs-target="#tab-education"
          href="{% url 'profile' %}?tab=education">Education</a>
      </li>
      <li class="w-full" role="presentation">
        <a class="w-full py-2 text-violet-800 border-2 border-violet-800 text-center" type="button" role="tab"
          aria-controls="projects" data-tabs-target="#tab-projects" href="{% url 'profile' %}?tab=projects">Projects</a>
      </li>
    </ul>
    <div class="p-6 bg-gray-50 text-medium text-gray-500 rounded-lg w-full">

    </div>
    <div class="hidden" aria-hidden="true">
      <div id="tab-details" role="tabpanel"></div>
      <div id="tab-summary" role="tabpanel"></div>
      <div id="tab-skills" role="tabpanel"></div>
      <div id="tab-work-experience" role="tabpanel"></div>
      <div id="tab-education" role="tabpanel"></div>
      <div id="tab-projects" role="tabpanel"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll('a[type="button"]');
    for (let button of buttons) {
      button.addEventListener('click', function () {
        window.location = this.href;
      })
    }
  });
</script>

{% endblock %}