/* Overrides Flowbites tab style changing */
li.w-full>a.w-full {
  background-color: white;
  color: rgb(91 33 182 / var(--tw-border-opacity));
}

li.w-full>a.w-full:hover {
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}