{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="container p-3 md:w-1/2 mx-auto mt-8 flex flex-col items-center justify-center">
    <h1 class="text-3xl mb-6">Your message</h1>
    <form method="POST" action="{% url 'contact_us' %}" class="w-full">
        {% csrf_token %}
        {{ form|crispy }}
        <!-- Add forms media to show ckeditor -->
        {{ form.media }}
        <div class="flex items-center justify-between mt-4">
            <input type="submit" value="Send"
                class="text-white bg-violet-800 hover:bg-lime-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5">
            <span class="text-sm text-gray-600 font-bold">* Mandatory fields</span>
        </div>
    </form>
</section>

{% endblock %}