{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cv_template/css/cv_template.css' %}">
<link rel="stylesheet" href="{% static 'css/cv_page.css' %}">
<style>
  .cv-preview {
    font-family: "Raleway", sans-serif;
    line-height: 1.6;
    font-size: 10pt;
  }

  .cv-preview h3 {
    color: #6495ed;
  }

  .cv-preview ul {
    list-style-type: none;
    padding: 0;
  }

  .cv-preview .intro ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .cv-preview table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  .cv-preview td {
    padding: 5px;
  }

  .cv-preview .date-cell {
    width: 15%;
  }

  .cv-preview .accreditation {
    width: 30%;
  }

  .cv-preview .job .header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .cv-preview .technical-skill-set ul,
  .cv-preview .additional-information ul {
    padding-left: 20px;
    list-style-type: disc;
  }
</style>
{% endblock %}

{% block title %}Create CV - {% endblock %}

{% block content %}
<div class="container mx-auto p-3 lg:flex lg:flex-row">
  <form method="post" id="skill-form" class="w-full lg:w-1/2 lg:pr-4">
    {% csrf_token %}
    <input type="hidden" id="id_headings_order" name="headings_order" value="{{ cv.item_ordering.headings }}">
    {% for form_field in form %}
    {{ form_field|as_crispy_field }}
    {% if form_field.label == 'Skills' %}
    {% if user.user_skills.all %}
    <input type="hidden" id="id_skills_order" name="skills_order" value="{{ cv.item_ordering.skills }}"
      aria-hidden="true">
    {% else %}
    <p class="text-xs text-gray-600">You must have skills on your profile to create your CV</p>
    {% endif %}
    {% elif form_field.label == 'Work experience' and not user.work_experience.all %}
    <p class="text-xs text-gray-600">You do not have any work experience in your profile</p>
    {% elif form_field.label == 'Education' and not user.education.all %}
    <p class="text-xs text-gray-600">You do not have any education in your profile</p>
    {% elif form_field.label == 'Projects' and not user.projects.all %}
    <p class="text-xs text-gray-600">You do not have any projects in your profile</p>
    {% elif form_field.label == 'Hobbies' %}
    {% if user.hobbies.all %}
    <input type="hidden" id="id_hobbies_order" name="hobbies_order" value="{{ cv.item_ordering.hobbies }}"
      aria-hidden="true">
    {% else %}
    <p class="text-xs text-gray-600">You do not have any hobbies in your profile</p>
    {% endif %}
    {% elif form_field.label == 'Extra info' %}
    {% if user.extra_info.all %}
    <input type="hidden" id="id_extra_info_order" name="extra_info_order" value="{{ cv.item_ordering.extra_info }}"
      aria-hidden="true">
    {% else %}
    <p class="text-xs text-gray-600">You do not have any extra information in your profile</p>
    {% endif %}
    {% endif %}

    {% endfor %}
    {{ form.media }}
    {% with request.resolver_match.url_name as url_name %}
    {% if url_name == 'cv_template' %}
    <button type="submit"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-lime-500 rounded-lg">Create
      CV</button>
    {% else %}
    <button type="submit"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-lime-500 rounded-lg">Update
      CV</button>
    {% endif %}
    {% endwith %}
  </form>
  <div class="cv-preview-container invisible absolute lg:block w-full lg:w-1/2">
    <div id="sticky-container" class="lg:sticky lg:top-0">
      <div id="cv-pages">
        <div class="cv-preview page active bg-white shadow-md">
          <section class="intro">
            <h1 id="preview-name" class="bold">
              {% if contact.first_name and contact.last_name %}
              {{ contact.first_name }} {{ contact.last_name }}
              {% endif %}
            </h1>
            <h2 id="preview-position"></h2>
            <ul class="links">
              {% if contact.github %}
              <li><a href="{{ contact.github }}">{{ contact.github }}</a></li>
              {% endif %}
              {% if contact.linkedin %}
              <li><a href="{{ contact.linkedin }}">{{ contact.linkedin }}</a></li>
              {% endif %}
            </ul>
            <ul class="contact-details">
              {% if contact.city or contact.country %}
              <li>
                {{ contact.city }}{% if contact.city and contact.country %}, {% endif %}{{ contact.country }}
              </li>
              {% endif %}
              {% if contact.email %}
              <li><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
              {% endif %}
              {% if contact.phone_number %}
              <li>{{ contact.phone_number }}</li>
              {% endif %}
            </ul>
            <div class="summary" id="preview-summary"></div>
          </section>
        </div>
      </div>
      <div id="preview-page-buttons" class="w-full hidden flex align-center justify-center">
        <button id="preview-previous-page" class="cv-action-button m-0" disabled>Prev</button>
        <button id="preview-next-page" class="cv-action-button">Next</button>
      </div>
    </div>

    <div id="preview-unused-headings" class="hidden" aria-hidden="true">
      <section class="work-experience-section">
        <h3>Work Experience</h3>
        <div id="preview-work-experience"></div>
      </section>
      <section class="education-section">
        <h3>Education</h3>
        <table id="preview-education"></table>
      </section>
      <section class="projects-section">
        <h3>Projects</h3>
        <table id="preview-projects">
          <thead>
            <tr>
              <th>Project name</th>
              <th>Description</th>
              <th>Deployed URL</th>
            </tr>
          </thead>
          <tbody id="project-table"></tbody>
        </table>
      </section>
      <section class="skills-section">
        <h3>Skill Set</h3>
        <div id="preview-skills">
          {% for skill in cv.ordered_skills %}
          {{ skill }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </section>
      <section class="hobbies-section">
        <h3>Interests/Hobbies</h3>
        <ul id="preview-hobbies">
          {% for hobby in cv.ordered_hobbies %}
          <li>{{ hobby }}</li>
          {% endfor %}
        </ul>
      </section>
      <section class="extra-info-section">
        <h3>Additional Information</h3>
        <ul id="preview-extra-info">
          {% for extra_info in cv.ordered_extra_info %}
          <li>{{ extra_info }}</li>
          {% endfor %}
        </ul>
      </section>
    </div>

  </div>
</div>
<button type="button" id="preview-button"
  class="fixed bottom-5 right-5 lg:hidden text-violet-800 bg-white border-2 border-violet-800 hover:bg-violet-100 focus:outline-none focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2 z-50">Preview
  CV</button>
<div id="mm-measurement"></div>
{% endblock %}

{% block extra_js %}
<script>
  const defaultSummary = "{{ default_summary|escapejs }}";
  // Store all the user's details
  const userData = JSON.parse(`{
    "work": {
      {% for work in user.work_experience.all %}
      "{{ work.id }}": {
        "organization": "{{ work.organization|safe }}",
        "location": "{{ work.location|safe }}",
        "position": "{{ work.position|safe }}",
        "dates": "{{ work.start_date|date:"M Y" }} - {% if work.end_date %}{{ work.end_date|date:"M Y" }}{% else %}Present{% endif %}",
        "bullet_points": {
          {% for bullet in work.bullet_points.all %}
          "{{ bullet.id }}": "{{ bullet.bullet_point|safe }}"{% if not forloop.last %},{% endif %}
          {% endfor %}
        },
        "skills": {
          {% for skill in work.applied_skills.all %}
          "{{ skill.id }}": "{{ skill.name }}"{% if not forloop.last %},{% endif %}
          {% endfor %}
        }
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    },
    "education": {
      {% for education in user.education.all %}
      "{{ education.id }}": {
        "school_name": "{{ education.school_name|safe }}",
        "location": "{{ education.location|safe }}",
        "degree": "{{ education.degree|safe }}",
        "dates": "{{ education.start_year|date:"Y" }} - {% if education.end_year %}{{ education.end_year|date:"Y" }}{% else %}Present{% endif %}",
        "grade": "{{ education.grade|safe }}",
        "bullet_points": {
          {% for bullet in education.bullet_points.all %}
          "{{ bullet.id }}": "{{ bullet.bullet_point|safe }}"{% if not forloop.last %},{% endif %}
          {% endfor %}
        },
        "skills": {
          {% for skill in education.applied_skills.all %}
          "{{ skill.id }}": "{{ skill.name }}"{% if not forloop.last %},{% endif %}
          {% endfor %}
        }
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    },
    "projects": {
      {% for project in user.projects.all %}
      "{{ project.id }}": {
        "name": "{{ project.name|safe }}",
        "description": "{{ project.description|safe }}",
        "dates": "{{ project.start_date|date:"M Y" }} - {% if project.end_date %}{{ project.end_date|date:"M Y" }}{% else %}Present{% endif %}",
        "repository_url": "{{ project.repository_url|safe }}",
        "deployed_url": "{{ project.deployed_url|safe }}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    }
  }`.replace(/(\r\n|\n|\r)/gm, ""));
</script>
<script src="{% static 'cv_template/js/cv_generator.js' %}"></script>
{% endblock %}