{% extends 'cv_base.html' %}
{% load static %}
{% load helper_tags %}
{% block extra_css %}
<style>
  .emphasis-color {
    color: #6495ed;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 23pt;
    margin: 0;
  }

  h2 {
    text-align: center;
    font-size: 16pt;
    margin: 0;
  }

  .intro ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 10px;
  }

  .date-cell {
    width: 15%;
  }

  .accreditation {
    width: 50%;
    padding-left: 10px;
  }

  .work-experience-section .header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .education-section {
    td {
      min-width: 20%;
    }

    .accreditation {
      width: 30%;
    }
  }

  table {
    font-size: 10pt;
  }

  .project-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  .project-section th,
  .project-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    line-height: 1.6;
  }

  .project-section th {
    font-weight: bold;
    background-color: #f2f2f2;
  }

  .technical-skill-set,
  .additional-information {
    margin-bottom: 20px;
  }

  .technical-skill-set h3,
  .additional-information h3 {
    margin-bottom: 10px;
  }

  .technical-skill-set ul,
  .additional-information ul {
    padding-left: 20px;
    margin: 0;
  }

  .technical-skill-set li,
  .additional-information li {
    margin-bottom: 5px;
  }

  @media print {
    h3 {
      page-break-after: avoid;
    }

    .project-section {
      page-break-inside: avoid;
    }

    .project-section table {
      page-break-inside: auto;
    }

    .project-section tr {
      page-break-inside: avoid;
    }
  }
</style>
{% endblock %}
{% block title %}{{ cv.contact_information.first_name }}'s Generated CV - {% endblock %}
{% block content %}
<div class="cv">
  <div class="page active">
    <section class="cv-section intro">
      <div class="titles">
        <h1>
          {% if cv.contact_information.first_name %}
          {{ cv.contact_information.first_name }}
          {% endif %}
          {% if cv.contact_information.last_name %}
          {{ cv.contact_information.last_name }}
          {% endif %}
        </h1>
        {% if cv.position_title %}
        <h2 class="position-title emphasis-color">{{ cv.position_title }}</h2>
        {% endif %}
      </div>
      <ul class="links">
        {% if cv.contact_information.github %}
        <li>
          <a href="{{ cv.contact_information.github }}">
            {{ cv.contact_information.github | clean_url }}
          </a>
        </li>
        {% endif %}
        {% if cv.contact_information.linkedin %}
        <li>
          <a href="{{ contact_information.linkedin }}">
            {{ cv.contact_information.linkedin | clean_url }}
          </a>
        </li>
        {% endif %}
      </ul>
      <ul class="contact-details">
        <li class="location">{% if cv.contact_information.city %}{{ cv.contact_information.city }}{% endif %},
          {% if cv.contact_information.country %}{{ cv.contact_information.country }}{% endif %}
        </li>
        {% if cv.contact_information.email %}
        <li class="email">
          <a href="mailto:{{ cv.contact_information.email }}">
            stephendawson@protonmail.com
          </a>
        </li>
        {% endif %}
        {% if cv.contact_information.phone_number %}
        <li class="phone">{{ cv.contact_information.phone_number }}</li>
        {% endif %}
      </ul>
      {% if cv.summary %}
      <p class="summary">
        {{ cv.summary }}
      </p>
      {% endif %}
    </section>
    {% if cv.education.all.count > 0 %}
    <section class="cv-section education-section">
      <h3 class="emphasis-color">Education</h3>
      <table>
        {% for education in cv.education.all %}
        <tr>
          <td class="date-cell">{{ education.start_year }} -
            {% if education.end_year %}{{ education.end_year }}{% else %}Present{% endif %}
          </td>
          <td>{% if education.school_name %} {{ education.school_name }}{% endif %}</td>
          <td>{% if education.location %} {{ education.location }}{% endif %}</td>
          <td class="accreditation">
            {% if education.degree %} {{ education.degree }}{% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>
    {% endif %}
    {% if cv.work_experience.all.count > 0 %}
    <section class="cv-section work-experience-section">
      <h3 class="emphasis-color">Work Experience</h3>
      {% for work_experience in cv.work_experience.all %}
      <div class="job">
        <div class="header">
          <div class="details">
            {{ work_experience.organization }} - {{ work_experience.position }} - {{ work_experience.location }}
          </div>
          <div class="date">
            {{ work_experience.start_date }} -
            {% if work_experience.end_date %}{{ work_experience.end_date }}{% else %}Present{% endif %}
          </div>
        </div>
        {% if work_experience.bullet_points.all.count > 0 %}
        <ul class="work-details">
          {% for work_bullet in work_experience.bullet_points.all %}
          <li>{{ work_bullet }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </section>
    {% endif %}
  </div>
  {% if cv.projects.all.count > 0 %}
  <section class="cv-section project-section solo-projects">
    <h3 class="emphasis-color">Projects</h3>
    <table>
      <thead>
        <tr>
          <th>Project name</th>
          <th>Description</th>
          <th>Technologies</th>
          <th>Github link</th>
        </tr>
      </thead>
      <tbody>
        {% for project in cv.projects.all %}
        <tr>
          <td>{{ project.name }}</td>
          <td>

          </td>
          <td>HTML, CSS, JavaScript, Svelte 5, SvelteKit.</td>
          <td>
            <a href="{{ product.repository_url }}">
              {{ project.repository_url | clean_url }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %}
  <section class="cv-section technical-skill-set">
    <h3 class="emphasis-color">Technical Skill Set</h3>
    <ul>
      <li>
        <strong>Languages:</strong> HTML, CSS, JavaScript, Python, TypeScript,
        Liquid (Templating), Ejs (Templating), Node, Svelte.
      </li>
      <li><strong>Databases:</strong> MongoDB, PostgreSQL, Sqlite3.</li>
      <li>
        <strong>Frameworks/Libraries:</strong> React, Bootstrap, Express,
        SvelteKit, Jest, Flask, Django, Tailwind, DaisyUI.
      </li>
      <li><strong>Other:</strong> Git, Github, GitHub Projects.</li>
    </ul>
  </section>

  <section class="cv-section additional-information">
    <h3 class="emphasis-color">Additional Information/Interests</h3>
    <ul>
      <li>Listen to the Syntax podcast to stay up-to-date on tech.</li>
      <li>Working proficiency in French and Spanish.</li>
    </ul>
  </section>
</div>
<div class="page-navigation mb-5">
  {% comment %} Don't add anything here - these are automatically created with
  the below JS {% endcomment %}
</div>
<button id="generate-pdf">
  Download as PDF
</button>

{% endblock %}

{% block extra_js %}
<script src="{% static 'cv_template/js/cv_template.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
{% endblock %}