/* Make the preview have the same dimensions as an A4 page */
.cv-preview {
  aspect-ratio: 210 / 297;
}

[id^="div_id_"] {
  margin: 2rem 0;
}

#id_color {
  border-color: rgb(209 213 219);
}

#id_cv_name,
#id_position,
#id_position_title {
  border-radius: 0;
}

#div_id_use_default_summary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#div_id_use_default_summary > input {
  margin-right: 5px;
}

#div_id_work_experience > div > div > label,
#div_id_education > div > div > label,
#div_id_projects > div > div > label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 10px;
}

input[type="checkbox"]:checked {
  background-color: #8ede17;
  border-color: #5b21b6;
}

/* Add CSS Grid styling */
#div_id_skills .mb-3,
#div_id_hobbies .mb-3,
#div_id_extra_info .mb-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

#div_id_skills .mr-3 {
  margin-right: 0;
}
